:root{
  --color-a:  black;
}
*{
  margin: 0px;
  padding: 0px;
}
@media all and (min-width: 1200px){
 .cont-main{
    width: 1140px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    margin: auto;
    padding: 0px 15px;
  }
}
@media all and (max-width: 799px){
  .ticket{
    width: 100%;
    padding: 0px 15px;
  }
}
@media all and (min-width: 800px){
  .ticket{
    width: 80%;
    padding: 0px 15px;
    background-color: rgb(77, 77, 145);
    display: block;
    margin: 25px;
    border-color: cornflowerblue;
    border-style: solid;
    border-radius: 75px;
  }
}
img{
  padding: 10px 10px;
  float: left;
  border-radius: 50%;

}
body {
  background-color: #b6e4e4;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  padding: 0px 15px;
}

ul{
  list-style-type: none;
  font-size: 28px;
  padding-top: 20px;
}
a {
  text-decoration: none;
  color: var(--color-a);
  font-size: 20px;
}
h1{
  font-size: 48px;

}
h2{
  font-size: 36px;
}
header{
  text-align: center;

}
.icono{

}
