:root{
  --color-a:  black;
}
*{
  margin: 0px;
  padding: 0px;
}
@media all and (min-width: 1200px){
 .cont-main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 1140px;
    align-items: center;
    padding: 0px 15px;
  }
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #b6e4e4;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
}
ul{
  list-style-type: none;

}
a {
  text-decoration: none;
  color: var(--color-a)
}
