*{
  margin: 0px;
  padding: 0px;
}
@media all and (max_width:1199px){
  .cont-main{
    width: 100%;
    height: 100%;
  }
}
@media all and (min_width: 1200px){
   .cont-main{
    width: 1140px;
    height: auto;
    align-items: center;
  }
}
.ticket{
  padding: 15px;

}
body {
  background-color: #b6e4e4;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
ul{
  list-style-type: none;
}
