:root{
  --color-a:  black;
}
*{
  margin: 0px;
  padding: 0px;
}

@media (min-width: 1200px){
  .cont-main{
    width: 1140px;
    align-items: center;
  }
}
.ticket{
  padding: 15px;

}
body {
  background-color: #b6e4e4;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
ul{
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--color-a)
}
